.wrapper{
    margin: 2%;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  flex-wrap: wrap;
  margin: 24px;
}
.card {
  text-decoration: none;
  color: #000;
  min-width: 260px;
  scroll-snap-align: start;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
  overflow: hidden;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sale badge */
.saleBadge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 20px;
}

/* Info */
.info {
  margin-top: 10px;
}

.title {
  font-size: 14px;
  margin-bottom: 6px;
}

.priceRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.price {
  font-size: 14px;
  font-weight: 500;
}

.compare {
  font-size: 12px;
  text-decoration: line-through;
  color: #999;
}

/* Mobile */
@media (max-width: 768px) {
  .wrapper {
    padding: 24px 16px;
  }

  .products {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }

  .card {
    min-width: 70%;
  }
  .productsWrapper{
    grid-template-columns: repeat(2,1fr);
  }
}
